/*
    Footer Mobile Style
*/

footer {
    display: block;
}

footer div {
    margin-top: 0em;
    text-align: center;
}

footer div a {
    display: block;
    text-decoration: underline;
    color: black;
    margin: 0.5em 0.8em;
}

footer div a img,
footer div a span {
    display: inline-block;
    vertical-align: middle;
}