/*
    Home Style
*/

section.header {
    display: block;
    width: 100%;
    height: calc(100vw * (853/1500));
}

section div.gallery {
    display: block;
}

section div.gallery h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    font-size: 2rem;
    color: black;
    width: 100%;
    text-align: center;
    padding: 0.2em;
}

section div.gallery img {
    display: block;
    width: 100%;
    height: auto;
}


#about {
    display: block;
    padding: 2em calc((100% - 1200px)/ 2);
}

#residence h2,
#about h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
}

#residence h2:after,
#about h2:after {
    content: '';
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 3px;
    background-color: #e1b058;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
}

#about strong {
    font-weight: 700;
    color: #e1b058;
}

#subject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em calc((100% - 1100px)/ 2);
}

#subject li a {
    display: block;
    border: 3px solid transparent;
    transition: all 0.3s;
}

#subject li a img {
    display: block;
    width: 100%;
    height: auto;
}

#image_gallery {
    position: relative;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1218px;
}

.holder ul {
    max-height: 0px;
    visibility: hidden;
}

.holder ul.show {
    visibility: visible;
}
button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    background-color: black;
    top: 140px;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}